/* CSS Reset */

* {
  margin: 0px;
  padding: 0px;
  /* text-align: center; */
}

html {
  scroll-behavior: smooth;
}

/* CSS Variables */
:root {
  --navbar-heoght: px;
}

/* Navigation bar */
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 9000;
}

/* Navigation bar: Logo and Image */
#logo {
  margin: 10px 34px;
}

#logo img {
  height: 59px;
  margin: 3px 6px;
}

/* Navigation bar: List Styling */
/* #navbar {
  position: relative;
} */

#navbar ul {
  display: flex;
  font-family: "Baloo Bhai", cursive;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}

#navbar ul li {
  /* color: white; */
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 580px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  position: absolute;
  background: url("../image/img2.jpg") no-repeat center center/cover;
  height: 642px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.89;
}
#home h1 {
  color: white;
  text-align: center;
}
#home p {
  color: wheat;
  text-align: center;
  font-size: 2rem;
  font-family: "Bree serif", serif;
}

/* Services Section  */

#services {
  margin: 34px;
  display: flex;
}
#services .box {
  /* border: 2px solid brown; */
  padding: 34px;
  margin: 2px 55px;
  border-radius: 28px;
  background: #f2f2f2;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 4px rgba(197, 195, 195, 0.185);
}
#services .box img {
  height: 160px;
  margin: auto;
  display: block;
}
#services .box p {
  font-family: "poppins", serif;
  color: rgb(99, 98, 98);
}

/* Clients Section */

#client-section {
  position: relative;
}

#client-section::before {
  content: "";
  position: absolute;
  background: url("../image/img2.jpg");
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-item {
  padding: 34px;
}

#clients img {
  height: 124px;
}

/* Contact Section */

#contact {
  position: relative;
  width: 100%;
}
#contact-box {
  display: grid;
  place-items: center;
  position: relative;
}
#contact-box::before {
  content: "";
  position: absolute;
  background: url("../image/contact.webp") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}

#contact-box form {
  width: 30%;
}

#contact-box label {
  font-size: 1.3rem;
  font-family: "Bree serif", serif;
}

/* footer Section  */
footer {
  background-color: black;
  color: white;
  padding: 9px 20px;
  text-align: center;
}

/* Utility Classess */
.h-primary {
  font-family: "Bree serif", serif;
  font-size: 3.8rem;
  padding: 12px;
}
.h-secondary {
  font-family: "Bree Serif", serif;
  font-size: 2.3rem;
  padding-bottom: 12px;
  font-weight: 200;
}

.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: brown;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  color: black;
  background-color: darkgray;
}

.center {
  text-align: center;
}
